.git
.github
.gitlab-ci.yml
.editorconfig
.actrc
tools/*
!tools/userver/
!tools/userver/**
grafana/
*.md
go.work.sum
build/
.cppservicelib/
.venv/
.servicegen/dependencies/
dist/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
